/* CSS document for recurring elements such as navigation bar and footer */

#nav{
    background-color: rgb(90,90,90);
    height: 70px;
    width: 100%;
    text-align: right;
    overflow: hidden;
}

a{
    text-decoration: none;
}

#nav p{
    color: rgb(237,237,237);
    font-size: 20px;
    text-align: center;
    margin-top: 0px;
    padding: 23px 35px 0px 35px;
    height: 70px;
    display: inline-block;
    transition: .2s ease;
}